.component-container {
  background-color: #ffd740;
  height: 100%;
  padding: 16px;

  span.title {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
  }
  .cliente-detail,
  .data-detail {
    margin: 6px 0 0 0;
    // display: flex;
    span {
      margin: 0 10px;
      font-size: 14px;

      mat-icon {
        vertical-align: middle;
        font-size: 20px;
      }
    }
  }
}
