<div class="component-container">
  <span class="title"><mat-icon>person</mat-icon>{{ cliente.nome }}</span>

  <div class="client-detail">
    <span><mat-icon>phone</mat-icon>{{ cliente.telefone }}</span>
    <span><mat-icon>mail</mat-icon>{{ cliente.email }}</span>
    <span><mat-icon>fingerprint</mat-icon>{{ cliente.id }}</span>
    <span><mat-icon>shopping_cart</mat-icon>{{ cliente.pedidos }}</span>
    <span><mat-icon>location_on</mat-icon>{{ cliente.endereco }}</span>
  </div>

  <div class="data-detail">
    <span>
      <mat-icon>event_note</mat-icon>
      {{ cliente.dataCadastro | serverTimestamp | customDate: "dd/mm/yyyy" }}
    </span>
    <span>
      <mat-icon>event_available</mat-icon>
      {{ cliente.atualizadoEm | serverTimestamp | customDate: "dd/mm/yyyy" }}
    </span>
  </div>

  <!--
  <ng-template #defaultState>
    <p>selecione um cliente</p>
  </ng-template> -->
</div>
