<div class="page-container">
  <!-- <p>home works!</p>
  <p>Saldo</p>
  <p>Estoque</p> -->

  <div class="totals-container">
    <ng-container *ngIf="saldo$ | async as saldoAtual; else defaultSaldo">
      <mat-card class="saldo-card">
        <h3>Saldo</h3>
        <p>{{ saldoAtual / 100 | currency: "BRL":true }}</p>
      </mat-card>
    </ng-container>
    <ng-template #defaultSaldo>
      <mat-card class="saldo-card">
        <h3>Saldo</h3>
        <p>{{ 0 | currency: "BRL":true }}</p>
      </mat-card>
    </ng-template>

    <ng-container
      *ngIf="totalClientes$ | async as clientesTotal; else defaultClientes"
    >
      <mat-card>
        <h3>Clientes</h3>
        <p>{{ clientesTotal }}</p>
      </mat-card>
    </ng-container>
    <ng-template #defaultClientes>
      <mat-card>
        <h3>Clientes</h3>
        <p>{{ 0 }}</p>
      </mat-card>
    </ng-template>

    <ng-container *ngIf="totalPedidos$ | async as pedidosTotal">
      <mat-card class="pedidos-total-card">
        <div class="master-container">
          <h3>Pedidos</h3>
          <p>{{ pedidosTotal }}</p>
        </div>

        <div class="detail-container">
          <ng-container *ngIf="pedidosPagos$ | async as pedidosPagosTotal">
            <p><strong>Pagos</strong> {{ pedidosPagosTotal }}</p>
          </ng-container>

          <ng-container
            *ngIf="pedidosNaoPagos$ | async as pedidosNaoPagosTotal"
          >
            <p><strong>A pagar</strong> {{ pedidosNaoPagosTotal }}</p>
          </ng-container>
        </div>
      </mat-card>
    </ng-container>
  </div>

  <ng-container *ngIf="currentEstoque$ | async as estoqueItem">
    <div class="estoque-bruto">
      <div class="mel-div" *ngFor="let item of estoqueItem">
        <h4>{{ item.mel | titlecase }}</h4>
        <img [src]="baldeImg" alt="" srcset="" />
        <p>♢ {{ item.quantidade }} g</p>
        <p>◦ {{ item.valor / 100 | currency: "BRL":true }}</p>
      </div>
    </div></ng-container
  >
  <div class="compra-btn-container">
    <button mat-button color="primary" (click)="onOpenCompraDialog()">
      <mat-icon>add</mat-icon>
      nova compra
    </button>

    <button mat-button color="primary" (click)="onOpenHistoricoCompraDialog()">
      <mat-icon>history</mat-icon>
      histórico de compras
    </button>
  </div>
</div>
