div.page-container {
  border: 1px solid orangered;
  height: calc(100vh - 68px);
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;

  .totals-container {
    display: flex;
    border: 1px solid #707070;

    mat-card {
      margin: 3px;

      p.colored-outcome {
        font-size: 34px;
        margin: -12px 0;
        color: orange;
      }
    }
    .saldo-card {
      background-color: #ffd740;
      p {
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        margin: -14px 0 0px;
      }
    }

    .pedidos-total-card {
      // border: 1px solid orangered;
      display: flex;
      padding: 0 16px;

      .master-container {
        h3 {
          margin-top: 17px;
        }
        // border: 1px solid orangered;
      }
      .detail-container {
        // border: 1px solid orangered;
        margin: 46px 0 0 -10px;
      }
    }
  }
  .estoque-bruto {
    border: 1px solid #707070;
    display: grid;
    grid-auto-columns: 148px;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    min-height: 209px;
    left: 0;
    width: 100%;
    overflow-x: scroll;

    .mel-div {
      // border: 1px solid orangered;
      // border-radius: 8px;
      margin: 8px;

      h4 {
        text-align: center;
        margin: 4px;
        padding: 0 0 4px;
        border-bottom: 2px solid orange;
      }

      img {
        width: 100px;
      }

      p {
        margin: 4px;
      }
    }
  }
}
