<mat-dialog-content>
  <h1>Novo Pedido</h1>

  <h3>Cliente</h3>
  <hr style="border-top: 1px dashed;" />

  <form [formGroup]="pedidoFormGroup" matForm>
    <mat-form-field class="cliente" appearance="standard">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="nomeCliente" matInput>
        <mat-option
          *ngFor="let cliente of clientesNames$ | async"
          [value]="cliente"
          >{{ cliente }}</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>O nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="data" appearance="standard">
      <mat-label>Data Pedido</mat-label>
      <input
        formControlName="dataPedido"
        type="date"
        matInput
        placeholder="dd/mm/aaaa"
        [value]="today"
      />
      <mat-icon matSuffix>date</mat-icon>
      <mat-error>A data é obrigatória</mat-error>
    </mat-form-field>

    <mat-form-field class="data" appearance="standard">
      <mat-label>Previsão Entrega</mat-label>
      <input
        formControlName="previsaoEntrega"
        type="date"
        matInput
        placeholder="dd/mm/aaaa"
        [value]="nextWeek"
      />
      <mat-icon matSuffix>date</mat-icon>
      <mat-error>A data é obrigatória</mat-error>
    </mat-form-field>

    <mat-form-field class="desconto" appearance="standard">
      <mat-label>Desconto %</mat-label>
      <!-- (selectedValueChange)="setAllProdutosValues()" -->
      <!-- (change)="setAllProdutosValues($event)" -->
      <input
        (input)="setAllProdutosValues($event)"
        formControlName="desconto"
        type="number"
        min="0"
        max="100"
        matInput
        placeholder="0.0"
        [value]="0"
        autocomplete="off"
      />
    </mat-form-field>

    <!-- ////////////////////////////////////////////////////// -->

    <h3>Produtos</h3>
    <hr style="border-top: 1px dashed;" />

    <ng-container *ngIf="getProdutosControls().length === 0">
      <button type="button" mat-mini-fab (click)="onAddProduto()">
        <mat-icon>add</mat-icon>
      </button>
      <span class="no-produtos">Adicionar produtos</span>
    </ng-container>

    <div
      class="produto-form-group"
      *ngFor="let produto of getProdutosControls(); let i = index"
    >
      <div
        class="produtos-section"
        (change)="setValorProduto(i)"
        [formGroup]="produto"
      >
        <button
          type="button"
          color="warn"
          mat-mini-fab
          (click)="onDeleteProduto(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <mat-form-field class="mel" appearance="standard">
          <mat-label>Mel</mat-label>
          <mat-select formControlName="mel" matInput placeholder="mel">
            <mat-option *ngFor="let mel of meles" [value]="mel">{{
              mel
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="pote" appearance="standard">
          <mat-label>Pote</mat-label>
          <!-- (valueChange)="setValorProduto(i)" -->
          <mat-select
            formControlName="pote"
            matInput
            placeholder="pote"
            (closed)="setValorProduto(i)"
            [value]="'kit'"
          >
            <mat-option
              *ngFor="let pote of potes; let j = index"
              [value]="pote"
              >{{ potesNames[j] }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="quantidade" appearance="standard">
          <mat-label>Quantidade</mat-label>
          <!-- (change)="setValorProduto(i)" -->
          <input
            formControlName="quantidade"
            type="number"
            min="1"
            matInput
            placeholder="quantidade"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field class="valor" appearance="standard">
          <mat-label>valor</mat-label>
          <input
            readonly
            formControlName="valor"
            type="number"
            matInput
            placeholder="valor"
          />
        </mat-form-field>

        <button type="button" mat-mini-fab (click)="onAddProduto()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="valor-total-pedido" *ngIf="valorTotal$ | async as valor">
      <h3>Valor total</h3>
      <span>{{ valor / 100 | currency: "BRL":true }}</span>
    </div>
  </form>
  <br /><br />
  <button
    type="submit"
    mat-raised-button
    color="accent"
    (click)="savePedido()"
    [disabled]="pedidoFormGroup.invalid"
  >
    Criar Pedido
  </button>

  <button type="button" mat-raised-button (click)="onCancel()">
    Cancelar
  </button>
  <br />
  <br />
</mat-dialog-content>
