span.no-produtos {
  margin-left: 14px;
}

mat-form-field {
  font-size: 13px;

  &.cliente {
    width: 260px;
  }

  &.data {
    width: 166px;
  }

  &.desconto {
    width: 100px;
  }

  &.mel {
    width: 160px;
  }

  &.pote {
    width: 160px;
    margin-left: 14px;
  }

  &.quantidade {
    width: 100px;
    // margin-right: 14px;
  }

  &.valor-produto {
    width: 90px;
  }
}
span.valor-total-head {
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
}
span.valor-total {
  font-weight: 300;
}
