div.page-container {
  // height: calc(100% - 16px);
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  // overflow-y: scroll;

  .new-client-btn {
    position: absolute;
    top: 76px;
    right: 18px;
    height: 76px;
    width: 100px;
    // > .mat-button-wrapper {
    //   border: 1px solid;
    // }
    mat-icon {
      font-size: 60px;
      margin: 0 24px 0 -19px;
    }
  }

  .search-bar-container {
    display: flex;
    border: 1px solid #707000;
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 10px;

    input.search-bar {
      border: none;
      outline: none;
    }
    .search-icon {
      pointer-events: none;
      border: none;
    }
  }

  .clientes-card-container {
    border: 1px solid orange;
    display: flex;
    position: fixed;
    top: 190px;
    left: 0;
    width: 100%;
    overflow-x: scroll;

    .card-line {
      padding: 4px;
      font-size: 14px;
      display: flex;
      color: #707070;

      &.card-header {
        font-size: 18px;
        color: black;
      }
    }
  }
}
