div.page-container {
  height: calc(100vh - 80px);
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  // overflow-y: scroll;

  .new-client-btn {
    position: absolute;
    top: 76px;
    right: 18px;
    height: 76px;
    width: 100px;
    // > .mat-button-wrapper {
    //   border: 1px solid;
    // }
    mat-icon {
      font-size: 60px;
      margin: 0 24px 0 -19px;
    }
  }

  .search-bar-container {
    border: 1px solid blue;
    display: flex;
    margin: -12px 0 0 0;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .search-bar {
      display: flex;
      border: 1px solid #707000;
      padding: 1px;
      border-radius: 4px;
      margin-bottom: 10px;

      input.search-bar-input {
        border: none;
        outline: none;
      }
      .search-icon {
        pointer-events: none;
        border: none;
      }
    }
  }

  .clientes-card-container {
    border: 1px solid orange;
    display: inline-table;
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;

    min-height: 209px;
    left: 0;
    width: 100%;
    overflow-x: scroll;

    .cliente-card {
      padding: 8px;
      margin: 3px;
      max-width: 180px;
      height: max-content;

      &:hover {
        background-color: rgba(222, 222, 222, 0.9);
        cursor: pointer;
      }

      mat-icon {
        vertical-align: middle;
        font-size: 19px;
      }
      .card-line {
        padding: 4px;
        font-size: 13px;
        display: table-row;
        color: #707070;

        span {
          white-space: nowrap;
          text-overflow: ellipsis !important;
          overflow: hidden;
          display: block;
          max-width: 178px !important;
        }

        &.card-header {
          font-size: 16px;
          color: black;

          mat-icon {
            margin-right: -4px;
          }
        }
      }
    }
  }

  .cliente-detail-container {
    // border: 1px solid red;
    background-color: #ffd740;
    box-sizing: border-box;
    width: calc(100vw - 4px);
    height: 100%;
    display: flex;
    align-items: baseline;

    p.default-message {
      margin: 16px auto;
      font-size: 22px;
      font-weight: bold;
    }
  }
}
