<div class="page-container">
  <p>clientes works!</p>

  <input type="text" />
  <mat-icon>search</mat-icon>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="pedidos">
      <th mat-header-cell *matHeaderCellDef>pedidos</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.pedidos }}</td>
    </ng-container>

    <ng-container matColumnDef="dataCadastro">
      <th mat-header-cell *matHeaderCellDef>dataCadastro</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.dataCadastro }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
