div.page-container {
  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;

  .search-bar-container {
    display: flex;
    border: 1px solid #707000;
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 10px;

    input.search-bar {
      border: none;
      outline: none;
    }
    .search-icon {
      pointer-events: none;
      border: none;
    }
  }
}
