div.page-container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;

  .title-container {
    height: 36px;
    span {
      font-size: 22px;
    }
  }

  .new-pedido-btn {
    position: absolute;
    top: 76px;
    right: 18px;
    height: 76px;
    width: 100px;
    // > .mat-button-wrapper {
    //   border: 1px solid;
    // }
    mat-icon {
      font-size: 60px;
      margin: 0 24px 0 -19px;
    }
  }

  .filter-container {
    border: 1px solid orange;
    display: flex;
    align-items: center;

    mat-form-field {
      width: 90px;
    }

    .search-bar-container {
      display: flex;
      border: 1px solid #707000;
      padding: 1px;
      border-radius: 4px;
      margin-bottom: 10px;
      height: 30px;

      input.search-bar {
        border: none;
        outline: none;
      }
      .search-icon {
        pointer-events: none;
        border: none;
      }
    }
  }

  .pago-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    &.pago-true {
      background-color: rgb(4, 173, 109);
    }
    &.pago-false {
      background-color: rgb(218, 172, 72);
    }
  }

  table {
    // width: 100%;
    width: calc(100% - 18px);
  }

  // tbody {
  tr.mat-row {
    height: 34px;

    &:hover {
      background-color: rgba(222, 222, 222, 0.8);
      cursor: pointer;
    }

    td.mat-cell {
      font-size: 12px;
    }
  }
  // }
}
