<span
  >Pedido de <strong>{{ data.nomeCliente | titlecase }}</strong></span
>
<span
  >&nbsp;realizado em
  <strong>{{
    data.dataPedido | serverTimestamp | customDate: "dd/mm/yyyy"
  }}</strong></span
>

<form [formGroup]="editPedidoForm">
  <mat-form-field class="status" appearance="standard">
    <mat-label>Status Pedido</mat-label>
    <mat-select
      [formControl]="editPedidoForm.get('status')"
      matInput
      [placeholder]="data.status"
    >
      <mat-option *ngFor="let status of allStatus" [value]="status">{{
        status
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="previsao-entrega" appearance="legacy">
    <mat-label>Previsão de Entrega</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="editPedidoForm.get('previsaoEntrega')"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      color="primary"
      [value]="data.previsaoEntrega"
    ></mat-datepicker>
  </mat-form-field>

  <div class="slide-toggle-container">
    <mat-label>Tá pago?&nbsp;&nbsp;&nbsp;</mat-label>
    <mat-slide-toggle
      formControlName="pago"
      color="primary"
      [(ngModel)]="data.pago"
    >
    </mat-slide-toggle>
    <span class="sim-nao">{{ data.pago ? "Sim!" : "Não" }}</span>
  </div>

  <br />

  <div class="btn-container">
    <button
      type="submit"
      mat-raised-button
      color="accent"
      (click)="saveChanges()"
      [disabled]="editPedidoForm.invalid"
    >
      Salvar Alterações
    </button>

    <button type="button" mat-raised-button (click)="onCancel()">
      Cancelar
    </button>
  </div>
  <br />
</form>
